//共通設定項目
html, body{
  font-size: 15px;
  font-family: $mainFonts;
  color: #333;
}
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: #333;
}
*, *::before, *::after{
  box-sizing: border-box;
}
img{
  display: block;
  width: 100%;
}
.sp-only{
  display: none;
}
.tb-sp-only{
  display: none;
}
main{
  display: block; // IE対策
}

.section{
  padding: 80px 0;
  &._colored{
    background-color: #eee;
  }
  &-wrapper{
    @include mainWrapper;
    &._narrow{
      max-width: 700px;
    }
  }
  &-title{
    text-align: center;
    position: relative;
    margin-bottom: 52px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.1em;
    &::after{
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      width: 70px;
      border-bottom: 5px solid #000;
    }
  }
  &-subtitle{
    width: 80%;
    margin: 0 auto 10px;
    line-height: 1.7;
    font-size: 18px;
    font-weight: bold;
    .red{
      color: red;
    }
  }
  &-desc{
    line-height: 1.7;
    width: 80%;
    margin: 0 auto;
    .bold{
      font-weight: bold;
    }
    .red{
      color: #f00;
    }
    a{
      font-weight: bold;
      color: #00f;
      text-decoration: underline;
    }
    &._centered{
      text-align: center;
    }
    &._bold{
      font-weight: bold;
    }
    &._large{
      font-size: 24px;
    }
    &._red{
      color: #f00;
    }
    &._indent{
      padding-left: 1.5em;
      position: relative;
      span{
        position: absolute;
        left: -.5em;
      }
      span.fa-check{
        top: 4px;
      }
    }
    &._indent-plus{
      padding-left: 4.5em;
    }
    &._in-progress{
      text-align: center;
      color: #999;
      font-style: italic;
    }
    a{
      color: $mainColor !important;
      text-decoration: underline;
    }
  }
}

#scroll-top{
  position: fixed;
  right: 60px;
  bottom: 120px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
  &.shown{
    opacity: 1;
    visibility: visible;
  }
  span{
    display: block;
    font-size: 50px;
    color: $mainColor;
    cursor: pointer;
    transition: .4s;
    &:hover{
      opacity: .7;
    }
  }
}
