// COMMON
.page-title{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #fff;
  &-wrapper{
    margin-top: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 218px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    &._work{
      background-image: url(../images/page_mainvisual_work.png);
    }
    &._salary{
      background-image: url(../images/page_mainvisual_salary.png);
    }
    &._travel{
      background-image: url(../images/page_mainvisual_travel.png);
    }
    &._system{
      background-image: url(../images/page_mainvisual_system.png);
    }
    &._admin{
      background-image: url(../images/page_mainvisual_admin.png);
    }
    &._visa{
      background-image: url(../images/page_mainvisual_visa.png);
    }
    &._life{
      background-image: url(../images/page_mainvisual_life.png);
    }
    &._pic{
      background-image: url(../images/page_mainvisual_pic.png);
    }
    &._faq{
      background-image: url(../images/page_mainvisual_faq.png);
    }
  }
}
.page-links{
  &-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-item{
    width: 50%;
    margin-bottom: 22px;
    a{
      font-size: 20px;
      line-height: 1.5;
      font-weight: bold;
      width: 100%;
      display: block;
      position: relative;
      transition: color .5s;
      &:hover{
        color: #fff;
      }
      &::after{
        position: absolute;
        bottom: -2%;
        left: -10px;
        content: '';
        width: 100%;
        height: 104%;
        transform: scale(0);
        background-color: $mainColor;
        transition: .3s ease-in;
        z-index: -1;
        transform-origin: left;
      }
      &:hover::after{
        transform: scale(1);
      }
    }
  }
}
.detailed-title{
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 4rem;
}
.full-img{
  width: 100%;
  margin-bottom: 40px;
}
.xl-img{
  width: 90%;
  margin: 0 auto 40px;
}
.l-img{
  width: 80%;
  margin: 0 auto 40px;
}
.m-img{
  width: 60%;
  margin: 0 auto 40px;
}
.s-img{
  min-width: 450px;
  width: 45%;
  margin: 0 auto 40px;
}
.ss-img{
  min-width: 300px;
  width: 30%;
  margin: 0 auto 40px;
}
.sss-img{
  min-width: 120px;
  width: 20%;
  margin: 0 auto 40px;
}
.flex-img{
  &-box{
    display: flex;
    justify-content: space-around;
  }
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &-s{
    width: 100%;
    max-width: 400px;
    object-fit: contain;
  }
  &-ss{
    width: 50%;
    max-width: 120px;
    object-fit: contain;
  }
}

// Working Regulations Page
.hour-table{
  width: 100%;
  max-width: 600px;
  margin: 60px auto 0;
  background-color: #fff;
  th,td{
    vertical-align: middle;
    text-align: center;
    padding: 8px;
  }
  .row03,.row05,.row09{
    td{
      border-bottom: 1px solid #000;
    }
  }
  .row02,.row04,.row06,.row08{
    td:not(:last-of-type){
      border-bottom: 1px solid #000;
    }
    td:nth-of-type(3){
      border-right: 1px dotted #000;
    }
  }
  .row07{
    td{
      border-bottom: 1px solid #000;
    }
  }
  .row08{
    td:nth-of-type(2){
      border-right: 1px dotted #000;
    }
    td:nth-of-type(3){
      border-right: none;
    }
  }
  th{
    font-weight: bold;
    color: #fff;
    background-color: $baseColor;
    &:not(:last-of-type){
      border-right: 1px dotted #fff;
    }
  }
  .row02,.row04,.row06{
    td{
      &:nth-child(2){
        border-right: 1px dotted #000;
      }
    }
  }
  .row08{
    td{
      &:nth-child(1){
        border-right: 1px dotted #000;
      }
    }
  }
}

.table{
  &-annual-leave{
    margin: 40px auto 12px;
    display: block;
    width: 20%;
    min-width: 230px;
  }
  &-annual-leave02{
    margin: 40px auto 12px;
    display: block;
    width: 60%;
    min-width: 660px;
  }
}

// Life in Japan ページ
.dormitory-table{
  width: 100%;
  border: 1px solid #333;
  margin-bottom: 60px;
  tr:first-of-type{
    th,td{
      background-color: $mainColor;
      color: #fff;
      text-align: center;
      font-weight: bold;
    }
    th{
      border-right: 1px solid #fff;
    }
  }
  tr{
    &:not(:last-of-type){
      border-bottom: 1px solid #333;
    }
    th,td{
      vertical-align: middle;
      padding: 0.8rem;
      line-height: 1.6;
      iframe{
        width: 100%;
        height: 350px;
      }
      .bold{
        font-weight: bold;
      }
    }
    th{
      font-weight: bold;
      background-color: #ccc;
      min-width: 241px;
    }
  }
}
.washing-table{
  width: 100%;
  border: 1px solid #333;
  tr:first-of-type{
    background-color: #ccc;
    td{
      font-weight: bold;
    }
  }
  tr{
    td{
      padding: 0.8rem;
      text-align: center;
      &:not(:last-of-type){
        border-right: 1px solid #333;
      }
    }
    &:not(:last-of-type){
      border-bottom: 1px solid #333;
    }
  }
}
.life-img-flex{
  display: flex;
  justify-content: space-around;
  img{
    width: 45%;
  }
}


// Person-In-Charge ページ
.pic-table{
  width: 100%;
  margin-bottom: 300px;
  tr{
    th,td{
      padding: 8px 1rem;
      vertical-align: middle;
      line-height: 1.5;
    }
  }
  .head{
    th{
      background-color: $baseColor;
      color: #fff;
      font-weight: bold;
      text-align: center;
      &:not(:last-of-type){
        border-right: 1px solid #fff;
      }
    }
  }
  .spacer{
    height: 20px;
    &:not(:first-of-type){
      border-top: 1px solid transparentize($mainColor,.9);
    }
  }
  .dep{
    th{
      background-color: $mainColor;
      text-align: center;
      color: #fff;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
  .person{
    th,td{
      padding-top: 12px;
      padding-bottom: 12px;
      &:first-of-type{
        border-right: 1px solid transparentize($mainColor,.9);
        text-align: center;
      }
    }
    th{
      font-weight: bold;
      font-size: 1.2rem;
      text-align: left !important;
      &[colspan="3"]{
        text-align: center !important;
      }
    }
  }
  .colored{
    th,td{
      background-color: transparentize($mainColor, .9);
    }
  }
  a{
    font-weight: bold;
    text-decoration: underline;
    color: $mainColor !important;
  }
  .ms-link{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../images/msteams.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    @include hoverOpacity;
    &:last-of-type{
      background-image: url(../images/msoutlook.png);
      margin-right: 0;
    }
  }
}

